<div class="row">
    <div class="col-lg-8">
      <div class="list-group">
        <a (click)="sonarNota(1)" class="list-group-item list-group-item-action" style="background-color: red;">C (Do)</a>
        <a (click)="sonarNota(2)" class="list-group-item list-group-item-action" style="background-color: rgba(255, 0, 0, 0.925);">D (Re)</a>
        <a (click)="sonarNota(3)" class="list-group-item list-group-item-action" style="background-color: rgba(255, 0, 0, 0.842);">E (Mi)</a>
        <a (click)="sonarNota(4)" class="list-group-item list-group-item-action" style="background-color: rgba(255, 0, 0, 0.692);">F (Fa)</a>
        <a (click)="sonarNota(5)" class="list-group-item list-group-item-action" style="background-color: rgba(255, 0, 0, 0.568);">G (Sol)</a>
        <a (click)="sonarNota(6)" class="list-group-item list-group-item-action" style="background-color: rgba(255, 0, 0, 0.411);">A (La)</a>
        <a (click)="sonarNota(7)" class="list-group-item list-group-item-action" style="background-color: rgba(255, 0, 0, 0.274);">B (Si)</a>
        <span class="copyRight" style="background-color: rgba(87, 2, 2, 0.274);">{{copyRight}} &copy;</span>
      </div>
    </div>
</div>


