.list-group-item{
    cursor: pointer; 
    height: 50px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10%;
}

.list-group{
    border: 1px white solid;
    margin-bottom: 100%;
    display: flex;
}

.list-group-item{
    color: white;
    width: 100%;
    height: 100%;
}

.list-group-item:active{
    opacity: 0.7;
    color:darkblue;
}

.copyRight{
    color: white;
    text-align: center;
}